<div class="relative" id="applications-menu-container">
  <button type="button"
    class="text-slate-800 group inline-flex items-center text-base font-medium hover:text-gray-900 focus:outline-none"
    aria-expanded="false">
    <span>Applications</span>
    {% include icons/caret-down.svg %}
  </button>
  <div class="absolute z-20 pt-3  w-screen max-w-md transform px-2 sm:px-0 2xl:max-w-3xl left-1/2 -translate-x-1/2"
    id="applications-dropdown">
    <div class="overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 ">
      <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8 2xl:grid-cols-2">

        {% for page in site.pages %}
        {% if page.categories contains 'applications' %}

        <a href="{{ page.url}}"
          class="-m-3 flex items-start rounded-lg p-3 transition duration-150 ease-in-out hover:bg-gray-50">
          <div
            class="flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-md bg-gray-100 text-gray-800 sm:h-12 sm:w-12">
            {% include {{ page.feature_icon}} %}
          </div>
          <div class="ml-4">
            <p class="text-base font-medium text-gray-900">{{ page.title}}</p>
            <p class="mt-1 text-sm text-gray-500">{{ page.description}}</p>
          </div>
        </a>

        {% endif %}
        {% endfor %}

      </div>
    </div>
  </div>
</div>