<div class="mt-12 px-4 lg:mt-28">
  <div class="mx-auto max-w-8xl">
    <div class="relative grid gap-12 {% if include.img %} lg:grid-cols-3 lg:items-center {% endif %}">
      {% if include.img %}
      <div>
        <img src="{{site.url}}/assets/img/{{ include.img }}" alt=""
          class="relative rounded-md max-w-screen-sm mx-auto w-full">
      </div>
      {% endif %}

      <div class="lg:col-span-2 {% if include.img == nill %} lg:grid lg:grid-cols-3 lg:gap-x-12 {% endif %}">
        <div class="mb-10">
          {% if include.letterhead %}
          <h2 class="text-sm text-blue-600">{{ include.letterhead }}</h2>
          {% endif %}
          {% if include.title %}
          <p class="mt-2 text-3xl tracking-tight text-gray-900">{{ include.title }}</p>
          {% endif %}
          {% if include.description %}
          <p class="mt-4 text-lg text-gray-500 max-w-screen-sm">{{ include.description }}</p>
          {% endif %}
        </div>
        <div class="{% if include.img %} mt-4  {% else %} lg:col-span-2 {% endif %}">
          <dl class="space-y-10 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 sm:space-y-0 lg:gap-x-12">
            {% for feature in include.features %}
            <div class="relative">
              <dt>
                <p class="text font-bold leading-6 text-gray-900">{{ feature.title }}</p>
              </dt>
              <dd class="mt-2 text-base text-gray-700">{{ feature.description }}</dd>
            </div>
            {% endfor %}
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>