<div class="px-4 mt-12 lg:mt-24 ">
  <div class="mx-auto max-w-8xl grid lg:grid-cols-2 gap-12">
    <div class="z-10">
      <h2 id="sale-heading" class="text-4xl font-bold md:text-6xl md:mt-10">
        {{include.title}}
      </h2>
      <p class="mt-6 text-base text-gray-600 md:text-xl md:leading-[150%]">
        {{include.description}}
      </p>
    </div>
    <div class="relative flex flex-row gap-6 md:gap-16 lg:px-12 place-content-center">
      <img src="{{site.url}}/assets/img/bg_blob.svg"
        class="absolute max-w-none w-full lg:top-1/2 left-1/2 transform -translate-y-48 lg:-translate-y-1/2 -translate-x-1/2" />
      <span class="flex-1 h-72 lg:h-96 rounded relative 
        bg-[url('{{site.url}}/assets/img/{{include.img}}')] bg-cover 
        shadow-lg animate__animated animate__fadeInDown animate__fast">
      </span>
    </div>
  </div>
</div>