<header class="relative">
    <div class="pt-6">
        <nav class="relative mx-auto flex max-w-8xl items-center justify-between" aria-label="Global">
            <div class="flex flex-1 items-center">
                <div class="flex w-full items-center justify-between md:w-auto">
                    <a href="https://hyper.systems">
                        <img class="h-8 w-auto sm:h-10" src="{{site.url}}/assets/img/hyper_logo.svg"
                            alt="Hyper Systems">
                    </a>
                    <div class="-mr-2 flex items-center md:hidden">
                        <button type="button" id="openMenuBtn"
                            class="focus-ring-inset inline-flex items-center justify-center rounded-md p-2 text-slate-400 hover:bg-slate-200 focus:outline-none focus:ring-2 focus:ring-white"
                            aria-expanded="false">
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="hidden md:flex md:items-center md:space-x-6">
                <a href="/integrations" class="text-base text-slate-800 hover:text-slate-500">Explore</a>
                <a href="/#home-features" class="text-base text-slate-800 hover:text-slate-500">Technology</a>
                <a href="/#why-hyper" class="text-base text-slate-800 hover:text-slate-500">Why Hyper</a>
                <a href="https://hyper.systems/developers"
                    class="text-base text-slate-800 hover:text-slate-500">Developers</a>
                <a href="/#fold"
                    class="rounded-sm bg-slate-800 px-4 py-2 text-base font-medium text-white hover:bg-slate-700">
                    Get a demo
                </a>
            </div>
        </nav>
    </div>
    <!-- Mobile Menu -->
    <div class="absolute inset-x-0 top-0 z-10 origin-top p-2 md:hidden" style="display: none;" id="mobileMenu">
        <div class="overflow-hidden rounded-lg bg-white shadow-md ring-1 ring-black ring-opacity-1">
            <div class="flex items-center justify-between px-5 pt-4">
                <div>
                    <img src="{{site.url}}/assets/img/hyper_logo.svg" alt="Hyper Systems">
                </div>
                <div class="-mr-2">
                    <button type="button" id="closeMenuBtn"
                        class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-600">
                        <span class="sr-only">Close menu</span>
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="pt-5 pb-6">
                <div class="space-y-1 px-2">
                    <a href="/integrations"
                        class="block rounded-md px-3 py-2 text-base font-medium text-gray-900 hover:bg-gray-50">Explore</a>
                    <a href="/#home-features"
                        class="block rounded-md px-3 py-2 text-base font-medium text-gray-900 hover:bg-gray-50">Technology</a>
                    <a href="/#why-hyper"
                        class="block rounded-md px-3 py-2 text-base font-medium text-gray-900 hover:bg-gray-50">Explore</a>
                    <a href="/https://hyper.systems/developers"
                        class="block rounded-md px-3 py-2 text-base font-medium text-gray-900 hover:bg-gray-50">Developers</a>
                </div>
                <div class="mt-6 px-5">
                    <a href="/#fold"
                        class="block w-full rounded-sm bg-slate-800 py-3 px-4 text-center font-medium text-white shadow hover:bg-slate-700">
                        Get a demo
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>