<div class="relative mx-auto max-w-8xl mt-32">
  <div class="rounded bg-beta mx-4 p-6 xl:mx-0 md:p-10 md:flex md:items-start md:justify-between xl:p-14">
    <div class="max-w-4xl">
      <blockquote>
        <p class="text-xl italic font-light text-black">"{{ include.quote }}"</p>
        <footer class="mt-6">
          <p class="text-base font-medium text-black">{{ include.name }}</p>
          <p class="text-base font-medium text-gray-500">{{ include.title }}</p>
        </footer>
      </blockquote>
    </div>
    {% if include.logo %}
    <img src="{{site.url}}/assets/img/{{include.logo}}" class="mt-4 md:mt-0 md:ml-10">
    {% endif %}
  </div>
</div>