<div class="mx-auto max-w-7xl lg:px-8 flex justify-between mt-6 mb-4 lg:mt-20">
    <h2 class="text-2xl">What peaple think of us</h2>

    <div>
        <button onclick="slider.goTo('prev')">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 12L10 18M20 12H4H20ZM4 12L10 6L4 12Z" stroke="black" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
        <button onclick="slider.goTo('next')">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 12l-6 6M4 12h16H4zm16 0l-6-6 6 6z" stroke="#000" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
        </button>
    </div>
</div>


<div class="testimonialsCarousel">
    <div class="testimonialsCarousel_slide">
        <div class="bg-beta p-6 lg:p-8 rounded-sm">
            <svg width="36" height="31" viewBox="0 0 36 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.840332 8.9193L9.5272 0.636475V19.4243H15.6888V30.6365H8.21407L0.840332 23.0607V8.9193ZM20.7393 8.9193L29.4262 0.636475V19.4243H35.6888V30.6365H28.2141L20.7393 23.0607V8.9193Z"
                    fill="#96949B" />
            </svg>

            <p class="mt-3 text-base text-slate-900">Lorem ipsum dolor sit amet consectetur adipisicing
                elit.
                Architecto accusantium praesentium eius, ut atque fuga culpa, similique sequi cum eos quis
                dolorum.</p>

            <div class="mt-6 flex items-center">
                <div class="flex-shrink-0">
                    <a href="#">
                        <span class="sr-only">Roel Aufderehar</span>
                        <img class="h-10 w-10 rounded-full"
                            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
                            alt="">
                    </a>
                </div>
                <div class="ml-3">
                    <p class="text-sm font-medium text-slate-900">
                        Roel Aufderehar
                    </p>
                    <p class="flex space-x-1 text-sm text-stone-500">
                        6 min read
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonialsCarousel_slide">
        <div class="bg-beta p-6 lg:p-8 rounded-sm">
            <svg width="36" height="31" viewBox="0 0 36 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.840332 8.9193L9.5272 0.636475V19.4243H15.6888V30.6365H8.21407L0.840332 23.0607V8.9193ZM20.7393 8.9193L29.4262 0.636475V19.4243H35.6888V30.6365H28.2141L20.7393 23.0607V8.9193Z"
                    fill="#96949B" />
            </svg>

            <p class="mt-3 text-base text-slate-900">Lorem ipsum dolor sit amet consectetur adipisicing
                elit.
                Architecto accusantium praesentium eius, ut atque fuga culpa, similique sequi cum eos quis
                dolorum.</p>

            <div class="mt-6 flex items-center">
                <div class="flex-shrink-0">
                    <a href="#">
                        <span class="sr-only">Roel Aufderehar</span>
                        <img class="h-10 w-10 rounded-full"
                            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
                            alt="">
                    </a>
                </div>
                <div class="ml-3">
                    <p class="text-sm font-medium text-slate-900">
                        Roel Aufderehar
                    </p>
                    <p class="flex space-x-1 text-sm text-stone-500">
                        6 min read
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonialsCarousel_slide">
        <div class="bg-beta p-6 lg:p-8 rounded-sm">
            <svg width="36" height="31" viewBox="0 0 36 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.840332 8.9193L9.5272 0.636475V19.4243H15.6888V30.6365H8.21407L0.840332 23.0607V8.9193ZM20.7393 8.9193L29.4262 0.636475V19.4243H35.6888V30.6365H28.2141L20.7393 23.0607V8.9193Z"
                    fill="#96949B" />
            </svg>

            <p class="mt-3 text-base text-slate-900">Lorem ipsum dolor sit amet consectetur adipisicing
                elit.
                Architecto accusantium praesentium eius, ut atque fuga culpa, similique sequi cum eos quis
                dolorum.</p>

            <div class="mt-6 flex items-center">
                <div class="flex-shrink-0">
                    <a href="#">
                        <span class="sr-only">Roel Aufderehar</span>
                        <img class="h-10 w-10 rounded-full"
                            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
                            alt="">
                    </a>
                </div>
                <div class="ml-3">
                    <p class="text-sm font-medium text-slate-900">
                        Roel Aufderehar
                    </p>
                    <p class="flex space-x-1 text-sm text-stone-500">
                        6 min read
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonialsCarousel_slide">
        <div class="bg-beta p-6 lg:p-8 rounded-sm">
            <svg width="36" height="31" viewBox="0 0 36 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.840332 8.9193L9.5272 0.636475V19.4243H15.6888V30.6365H8.21407L0.840332 23.0607V8.9193ZM20.7393 8.9193L29.4262 0.636475V19.4243H35.6888V30.6365H28.2141L20.7393 23.0607V8.9193Z"
                    fill="#96949B" />
            </svg>

            <p class="mt-3 text-base text-slate-900">Lorem ipsum dolor sit amet consectetur adipisicing
                elit.
                Architecto accusantium praesentium eius, ut atque fuga culpa, similique sequi cum eos quis
                dolorum.</p>

            <div class="mt-6 flex items-center">
                <div class="flex-shrink-0">
                    <a href="#">
                        <span class="sr-only">Roel Aufderehar</span>
                        <img class="h-10 w-10 rounded-full"
                            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
                            alt="">
                    </a>
                </div>
                <div class="ml-3">
                    <p class="text-sm font-medium text-slate-900">
                        Roel Aufderehar
                    </p>
                    <p class="flex space-x-1 text-sm text-stone-500">
                        6 min read
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="testimonialsCarousel_slide">
        <div class="bg-beta p-6 lg:p-8 rounded-sm">
            <svg width="36" height="31" viewBox="0 0 36 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.840332 8.9193L9.5272 0.636475V19.4243H15.6888V30.6365H8.21407L0.840332 23.0607V8.9193ZM20.7393 8.9193L29.4262 0.636475V19.4243H35.6888V30.6365H28.2141L20.7393 23.0607V8.9193Z"
                    fill="#96949B" />
            </svg>

            <p class="mt-3 text-base text-slate-900">Lorem ipsum dolor sit amet consectetur adipisicing
                elit.
                Architecto accusantium praesentium eius, ut atque fuga culpa, similique sequi cum eos quis
                dolorum.</p>

            <div class="mt-6 flex items-center">
                <div class="flex-shrink-0">
                    <a href="#">
                        <span class="sr-only">Roel Aufderehar</span>
                        <img class="h-10 w-10 rounded-full"
                            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
                            alt="">
                    </a>
                </div>
                <div class="ml-3">
                    <p class="text-sm font-medium text-slate-900">
                        Roel Aufderehar
                    </p>
                    <p class="flex space-x-1 text-sm text-stone-500">
                        6 min read
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="testimonialsCarousel_slide">
        <div class="bg-beta p-6 lg:p-8 rounded-sm">
            <svg width="36" height="31" viewBox="0 0 36 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.840332 8.9193L9.5272 0.636475V19.4243H15.6888V30.6365H8.21407L0.840332 23.0607V8.9193ZM20.7393 8.9193L29.4262 0.636475V19.4243H35.6888V30.6365H28.2141L20.7393 23.0607V8.9193Z"
                    fill="#96949B" />
            </svg>

            <p class="mt-3 text-base text-slate-900">Lorem ipsum dolor sit amet consectetur adipisicing
                elit.
                Architecto accusantium praesentium eius, ut atque fuga culpa, similique sequi cum eos quis
                dolorum.</p>

            <div class="mt-6 flex items-center">
                <div class="flex-shrink-0">
                    <a href="#">
                        <span class="sr-only">Roel Aufderehar</span>
                        <img class="h-10 w-10 rounded-full"
                            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
                            alt="">
                    </a>
                </div>
                <div class="ml-3">
                    <p class="text-sm font-medium text-slate-900">
                        Roel Aufderehar
                    </p>
                    <p class="flex space-x-1 text-sm text-stone-500">
                        6 min read
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="testimonialsCarousel_slide">
        <div class="bg-beta p-6 lg:p-8 rounded-sm">
            <svg width="36" height="31" viewBox="0 0 36 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.840332 8.9193L9.5272 0.636475V19.4243H15.6888V30.6365H8.21407L0.840332 23.0607V8.9193ZM20.7393 8.9193L29.4262 0.636475V19.4243H35.6888V30.6365H28.2141L20.7393 23.0607V8.9193Z"
                    fill="#96949B" />
            </svg>

            <p class="mt-3 text-base text-slate-900">Lorem ipsum dolor sit amet consectetur adipisicing
                elit.
                Architecto accusantium praesentium eius, ut atque fuga culpa, similique sequi cum eos quis
                dolorum.</p>

            <div class="mt-6 flex items-center">
                <div class="flex-shrink-0">
                    <a href="#">
                        <span class="sr-only">Roel Aufderehar</span>
                        <img class="h-10 w-10 rounded-full"
                            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
                            alt="">
                    </a>
                </div>
                <div class="ml-3">
                    <p class="text-sm font-medium text-slate-900">
                        Roel Aufderehar
                    </p>
                    <p class="flex space-x-1 text-sm text-stone-500">
                        6 min read
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>