---
layout: default
---
<div class="sm:px-6 lg:px-8 mt-8">
    <div class="mx-auto max-w-8xl">
        <div class="relative sm:overflow-hidden sm:rounded">
            <div class="absolute inset-0">
                <img class="h-full w-full object-cover" src="{{site.url}}/assets/img/integrations_fold.png"
                    alt="People working on laptops">
                <div class="absolute inset-0 bg-gray-500 mix-blend-multiply lg:hidden"></div>
            </div>
            <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:pt-22 lg:pb-24 lg:px-16 lg:max-w-3xl">
                <div class="hidden lg:inline-block  rounded-full text-white bg-gray-800 pr-6 ml-2 mb-4">
                    <div
                        class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 text-white font-medium inline-block py-1 px-6 mr-4 -translate-x-1">
                        Get started
                    </div>
                    Do more today!
                </div>
                <h1
                    class="text-center text-4xl text-white lg:text-gray-800 font-bold sm:text-5xl lg:text-7xl lg:text-left">
                    Monitor and control <br />
                    your entire farm.
                </h1>
                <p
                    class="mx-auto mt-12 max-w-xl text-center text-xl text-white lg:text-gray-700 lg:text-left lg:max-w-none">
                    Use our data and automation platform for indoor farms to increase yield and reduce operational costs
                    by getting access to crop growth metrics and optimized climate crop.</p>
            </div>
        </div>
    </div>
</div>

<div class="py-12 px-4 sm:px-6 lg:px-8">
    <div class="m-auto max-w-8xl">
        <main>
            <div class="border-b border-gray-200 pb-5 lg:pb-6 lg:flex lg:justify-between lg:items-baseline">
                <h1 class="text-2xl font-medium tracking-tight text-gray-900">Item listing</h1>
                <p class="mt-4 text-base text-gray-500 lg:mt-0 filterCount">
                    {{ site.data.devices | size }} items</p>
            </div>

            <div class="progressCss progress-struct"></div>

            <div class="pt-5 lg:pt-8 lg:grid lg:grid-cols-3 lg:gap-x-8 xl:grid-cols-4">
                <aside>
                    <form
                        class="space-y-5 divide-y divide-gray-200 md:grid md:grid-cols-2 lg:block md:divide-y-0 md:space-y-0 lg:space-y-10 lg:divide-y">

                        <div class="">
                            <fieldset class="filterGroup">
                                <legend class="block text-sm font-medium text-gray-900">Tags</legend>
                                <div class="space-y-3 pt-6 ">
                                    {% assign tags = site.data.devices | map: 'tags' | join: ',' | split: ',' |
                                    uniq %}

                                    {% for tag in tags %}
                                    <div {% if forloop.index> 8 %}
                                        class="hidden flex items-center hiddenListItem"
                                        {% else %}
                                        class="flex items-center"
                                        {% endif %}
                                        >
                                        <input id="{{ tag }}" value=".{{ tag }}" type="checkbox"
                                            class="h-4 w-4 rounded-sm border-gray-300 text-gray-600 focus:ring-gray-500 cursor-pointer">
                                        <label for="{{ tag }}" class="ml-3 text-sm text-gray-600 cursor-pointer">
                                            {{ tag | replace: '_', ' ' }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </fieldset>

                            <button type="button"
                                class="mt-8 w-full justify-between flex rounded border border-gray-300 px-4 py-2 text-sm font-medium text-gray-800 shadow-sm hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 whitespace-nowra hiddenListBtn">

                                <span>
                                    Show all {{ tags.size }} tags
                                </span>

                                <svg class="h-5 w-5 transform" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                                </svg>
                            </button>
                        </div>

                        <div class="lg:pt-5">
                            <fieldset class="filterGroup">
                                <legend class="block text-sm font-medium text-gray-900">Vendor</legend>
                                <div class="space-y-3 pt-6">
                                    {% assign vendors = site.data.devices | group_by: "vendor" %}
                                    {% for v in vendors %}
                                    <div class="flex items-center">
                                        <input id="{{ v.name | replace: ' ', '-' | downcase }}" type="checkbox"
                                            value=".{{ v.name | replace: ' ', '-' | downcase }}"
                                            class="h-4 w-4 rounded-sm border-gray-300 text-gray-600 focus:ring-gray-500 cursor-pointer">
                                        <label for="{{ v.name | replace: ' ', '-' | downcase }}"
                                            class="ml-3 text-sm text-gray-600 cursor-pointer">
                                            {{ v.name }}
                                            <span
                                                class="bg-gray-100 ml-4 py-0.5 w-[1.5rem] text-center inline-block rounded">{{
                                                v.items | size
                                                }}</span>
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </fieldset>
                        </div>

                        <div class="pt-5 md:pt-0 lg:pt-10">
                            <fieldset class="filterGroup">
                                <legend class="block text-sm font-medium text-gray-900">Connectivity</legend>
                                <div class="space-y-3 pt-6">
                                    {% assign conns = site.data.devices | map: 'connectivity' | join: ',' | split: ',' |
                                    uniq %}

                                    {% for conn in conns %}
                                    <div class="flex items-center">
                                        <input id="{{ conn }}" value=".{{ conn }}" type="checkbox"
                                            class="h-4 w-4 rounded-sm border-gray-300 text-gray-600 focus:ring-gray-500 cursor-pointer">
                                        <label for="{{ conn }}" class="ml-3 text-sm text-gray-600 cursor-pointer">
                                            {{ conn | replace: '_', ' ' }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </fieldset>
                        </div>
                    </form>

                    <div class="hidden lg:block rounded bg-gray-100 p-6 mt-10">
                        <h2 class="text-md font-medium">Missing a device?</h2>
                        <p class="text-sm mt-2 text-gray-500">
                            Tell us what device you'd like and let's talk about adding it.
                        </p>

                        <a href="/company#contact"
                            class="mt-4 flex w-full items-center justify-center rounded-sm bg-gray-800 px-4 py-2.5 text-sm font-medium text-white hover:bg-gray-700">
                            Get in touch
                        </a>
                    </div>
                </aside>

                <!-- Product grid -->
                <div class="mt-12 lg:col-span-2 lg:mt-0 xl:col-span-3">
                    <section aria-labelledby="product-heading" class="mt-6 lg:col-span-2 lg:mt-0 xl:col-span-3">
                        <h2 id="product-heading" class="sr-only">Products</h2>

                        <div
                            class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:gap-x-8 xl:grid-cols-4 filterContainer">

                            <div class="text-center sm:col-span-2 xl:col-span-4 bg-gray-50 rounded-md py-16 filterEmptySearch"
                                style="display: none;">

                                <svg class="mx-auto h-10 w-10  text-gray-400" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" aria-hidden="true">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                </svg>

                                <h3 class="mt-2 text-sm font-medium text-gray-900">No devices available.</h3>
                                <p class="mt-1 text-sm text-gray-500">Are we missing a device you want to see?</p>
                                <div class="mt-6">
                                    <a href="/company#contact"
                                        class="inline-flex items-center rounded-sm border border-transparent bg-gray-800 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                                        <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path
                                                d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                                        </svg>
                                        Request device
                                    </a>
                                </div>
                            </div>


                            {% for device in site.data.devices %}
                            <div class="group relative flex flex-col rounded-lg overflow-hidden border border-gray-200 bg-white mix 
                                {{ device.vendor | replace: ' ', '-' | downcase }} 
                                {% for conn in device.connectivity %} {{ conn }} {% endfor %}
                                {% for tag in device.tags %} {{ tag }} {% endfor %}">
                                <div class="aspect-w-2 aspect-h-2 bg-white group-hover:opacity-75">
                                    <img src="{{site.url}}/assets/img/devices/{{ device.product_image }}"
                                        class="h-full w-full object-cover object-center sm:h-full sm:w-full">
                                </div>
                                <div class="flex flex-1 flex-col space-y-4 p-4">
                                    <h3 class="text-sm font-medium text-gray-900">
                                        <a href="/integrations/{{ device.vendor | replace: ' ', '-' | downcase }}_{{
                                            device.product_code | replace: ' ', '-' | downcase }}.html">
                                            <span aria-hidden="true" class="absolute inset-0"></span>
                                            {{ device.product_name }}
                                        </a>
                                    </h3>
                                    <p class="text-sm text-gray-500">{{ device.description | truncate: 60 }}</p>



                                    <div class="flex flex-1 flex-col justify-end mt-8">
                                        <p class="text-base font-medium text-gray-900">{{ device.vendor }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
        </main>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.js"></script>
<script>
    // Toggle list logic for the tag filters

    var hiddenListBtn = document.querySelector(".hiddenListBtn");
    var hiddenListBtnText = hiddenListBtn.querySelector("span").textContent;
    var hiddenListItems = document.querySelectorAll(".hiddenListItem");

    hiddenListBtn.addEventListener('click', (event) => {
        hiddenListBtn.classList.toggle("hiddenListBtnExpanded")
        if (hiddenListBtn.classList.contains("hiddenListBtnExpanded")) {
            hiddenListBtn.querySelector("span").textContent = `Collapse tag list`;
        } else {
            hiddenListBtn.querySelector("span").textContent = hiddenListBtnText
        }
        hiddenListBtn.querySelector("svg").classList.toggle("-rotate-180")
        hiddenListItems.forEach((el) => {
            el.classList.toggle("hidden")
        });
    });



    // Fish the tags that should be filteres as a string
    var multiFilterTwo = mixer => {
        var filterGroups = document.querySelectorAll(".filterGroup");
        var groups = [];
        var outputArray = [];
        var outputString = "";

        filterGroups.forEach((g) => {
            groups.push({
                inputs: g.querySelectorAll("input"),
                active: [],
                tracker: false
            });
            g.addEventListener("change", () => {
                parseFilters();
            });
        });

        var parseFilters = function () {
            groups.forEach((g) => {
                g.active = [];
                g.inputs.forEach((inp) => {
                    if (inp.checked) {
                        g.active.push(inp.value);
                    }
                });
                g.active.length && (g.tracker = 0);
            });

            concatenate();
        };

        var concatenate = () => {
            var self = this;
            var cache = "";
            var crawled = false;

            var checkTrackers = () => {
                var done = 0;
                for (var i = 0, group; (group = groups[i]); i++) {
                    group.tracker === false && done++;
                }
                return done < groups.length;
            };

            var crawl = () => {
                for (var i = 0, group; (group = groups[i]); i++) {
                    group.active[group.tracker] && (cache += group.active[group.tracker]);

                    if (i === groups.length - 1) {
                        outputArray.push(cache);
                        cache = "";
                        updateTrackers();
                    }
                }
            };

            var updateTrackers = () => {
                for (var i = groups.length - 1; i > -1; i--) {
                    var group = groups[i];

                    if (group.active[group.tracker + 1]) {
                        group.tracker++;
                        break;
                    } else if (i > 0) {
                        group.tracker && (group.tracker = 0);
                    } else {
                        crawled = true;
                    }
                }
            };

            outputArray = []; // reset output array

            do {
                crawl();
            } while (!crawled && checkTrackers());

            outputString = outputArray.join();

            !outputString.length && (outputString = "all");

            mixer.filter(outputString)


            // Very basic progress animation restart
            const progressEl = document.querySelector(".progressCss")
            progressEl.classList.add("progress-anim");
            setTimeout(() => {
                progressEl.classList.remove("progress-anim");
            }, "400")


            const countEl = document.querySelector('.filterCount')
            const emptyPlaceholderEl = document.querySelector('.filterEmptySearch')
            if (mixer.getState().totalShow == 0) {
                emptyPlaceholderEl.style.display = "initial";
                countEl.innerHTML = `${mixer.getState().totalShow} items`
            } else if (mixer.getState().totalShow == 1) {
                emptyPlaceholderEl.style.display = "none";
                countEl.innerHTML = `${mixer.getState().totalShow} item`
            } else {
                emptyPlaceholderEl.style.display = "none";
                countEl.innerHTML = `${mixer.getState().totalShow} items`
            }
        };
    };

    var mixer = mixitup(document.querySelector('.filterContainer'), {
        animation: {
            enable: false,
        }
    });


    multiFilterTwo(mixer);


</script>