/* Extra-small text */
.text-2xs {
    font-size: 0.625rem;
    /* 10px */
    line-height: 0.875rem;
    /* 14px */
}

/* Stop slider from clipping shadow that overflows the container */
.max-w-8xl {
    max-width: 84rem;
}

.testimonialsCarousel_slide {
    padding: .5rem 0;
}

/* Blue */
.bg-alpha {
    background-color: #F2F4F7;
}

/* Brown */
.bg-beta {
    background-color: #F4F0ED;
}

.bg-gradient {
    background-image: linear-gradient(45deg, #6366f1, #00c3ff);
    background-size: 100%;
    background-repeat: repeat;
}

.tx-clip {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}



@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

#applications-dropdown {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

#applications-menu-container:hover #applications-dropdown {
    visibility: visible;
    opacity: 1;
}

:root {
    --progress-duration: .3s;
    --progress-height: 3px;
    --progress-color: rgb(35, 163, 255);
    --progress-color-ending: rgba(35, 163, 255, 0.2);
    --progress-shadow: 0 0 3px 2px rgba(0, 148, 255, 0.23)
}

.progress-struct {
    top: 0;
    left: 0;
    height: var(--progress-height);
    width: 100%;
    background-color: transparent;
    z-index: 99999;
    box-shadow: none;
    animation-timing-function: ease-in-out
}

.progress-anim {
    animation: progress-load var(--progress-duration);
    -webkit-animation: progress-load var(--progress-duration);
}

@keyframes progress-load {
    0% {
        background-color: var(--progress-color);
        box-shadow: var(--progress-shadow);
        width: 0%
    }

    20% {
        background-color: var(--progress-color);
    }

    50% {
        background-color: var(--progress-color);
    }

    100% {
        width: 100%;
        background-color: var(--progress-color-ending);
        box-shadow: none
    }
}